*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

*:focus{
    outline:none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    line-height: 1;
    font-weight: 400;
    color:#222;
    font-family: 'Inter', sans-serif;
    overflow-x:hidden;
}


/* Generalni povtorno upotrebuvacki klasi */

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 4.8rem
}

.heading-primary{
    font-size: 4.4rem;
}


.icon{
    font-size: 3rem;
    color:#2A0433;
}


