

/* POD 1200px  (LANDSCAPE TABLETS) */

@media (max-width:75em){
    html{
        font-size: 56.25%;
    }
}


/* POD 960PX (TABLETS) */
@media (max-width:60em){
    html{
        font-size: 50%;
    }
}
/* POD 880px */
@media(max-width:55em){
    .customers{
        flex-direction: column;
    }

    .nav-list{
        gap:3rem;
        padding-right:0;
    }

        .text-box p, .text-box h1{
            text-align: center;
        }
    .text-box div:first-of-type{
        align-self: center;
    }

    .social-networks{
        bottom:25%;
    font-size: 2rem;
    }
}

/* POD 784px */
@media (max-width:49rem){

    .text-box .heading-primary{
        font-size: 3.4rem;
    }

    .text-box a:link, .text-box a:visited{
        font-size: 1.8rem;
        padding:1rem 2rem;
    }
    .text-box a:link, .text-box a:visited{
        margin-right: 2rem;
    }

    .btn-mobile-nav{
        display: block;
        z-index: 999;
    }
    .main-nav{
        display: flex;
        flex-direction: column;
        gap:3rem;
        align-items: center;
        justify-content: center;
        position:absolute;
        top:0; left:0;
        transform: translateX(5000px);
        transition:all 500ms ease-in;
        width:100%;
        height: 100vh;
        z-index: 3;
        background-color: rgba(255, 255, 255, 0.657);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        opacity:0;
        pointer-events: none;
        visibility: hidden;

    }
    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 4.8rem;
        font-size: 8rem;
    }

    .nav-open .main-nav{
        opacity:100%;
        transform: translateX(0);
        pointer-events: auto;
        visibility: visible;
    }

    .nav-list-item:link{
        font-size: 3rem;
        font-weight: 600;
    }

    .nav-open .openMenu{
        display: none;
    }

    .nav-open .closeMenu{
        display: block;
    }

    .image-box{
        position:static;
    }
    .section-hero{
        position: relative;
    }

    .social-networks{
    left:80%;
    bottom:10%;
    font-size: 2rem;
    }
    .social-networks h4{
        color:#862e9c;
    }
    .social-networks a:link, .social-networks a:visited{
        color:#862e9c;
    }

    .btn-mobile-nav{
        display: block;
        border:none;
        background:transparent;
        font-size: 4rem;
    }

    .menuClose{
        display: none;
    }

    .gallery{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4, 40rem);
    }
}



/* POD 655px */

@media (max-width:41rem){
    .section-container{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .social-networks{
        left:20%
    }

    .social-networks h4{
        color:#f3f0ff;
    }
    .social-networks a:link, .social-networks a:visited{
        color:#cfabd7;
    }
    
    .social-networks a:hover, .social-networks a:active{
        color:#ae3ec9
    }

    .services{
        column-gap: 2rem;
    }

    .contact{
        width:50%;
    }

    .about-us{
        grid-template-columns: 1fr 1fr;
    }

    .contact-us{
        grid-column: span 2;
        justify-self: center;
    }
}

/* POD 480 PX */

@media (max-width:30rem){
    .social-networks{
        left:15%;
    }

    .section-featured-in .logos{
        justify-content: space-between;
    }

    .section-featured-in img{
        height: 5rem;
    }

    .gallery{
        grid-template-columns: 1fr 1fr ;
        
    }

    .products-heading h2::after{
        right:0rem;
    }

    .products-text{
        grid-template-columns: 1fr;
    }

    .products-description {
        justify-self: center;
    }

    .services{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .ria{
        flex-direction: column;
        gap:2rem;
    }

    .contact{
        width: 80%;
    }

    .about-us figure{
        padding:0;
    }

    .about-us p{
        padding:2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1rem;
    }

    .contact-information {
        padding-bottom: 2rem;
    }

    .footer-info{
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .footer-location{
        grid-column: span 2;
    }
}

/* POD 370px */
@media (max-width:24rem){
    .social-networks{
        font-size: 1.8rem;
        bottom:8%;
    }
    .social-networks h4{
        font-size: 1.5rem;
    }

    .section-featured-in .logos{
        flex-direction: column;
        align-items: center;
    }

    .section-featured-in img{
       width:15rem;
       height: 15rem;
    }

    .section-products .container{
        max-width: 100%;
        padding:0;
    }
    
    .contact{
        width:90%
    }

    .section-contact .container{
        padding:0;
    }
    .about-us {
        display: flex;
        flex-direction: column;
    }

    .footer-info{
        display: flex;
        flex-direction: column;
    }
}