
/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.8rem;
    background-color: #f3f0ff;
    height: 9.6rem;
}

.sticky{
    position: -webkit-sticky; 
    position:sticky;
    top:0; left:0;
    background-color: rgba(255, 255, 255, 0.938);
    box-shadow: 0 30px 15px rgba(0, 0, 0, 0.041);
    z-index: 999;
    height: 8rem;
}
.logo{
    height: 7.2rem;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap:5.8rem;
    padding-right: 2rem;
}

.btn-mobile-nav{
    border:none;
    background:none;
    cursor:pointer;
    display: none;
}

.icon-mobile-nav[name="close-outline"]{
    display: none;
}

.icon-mobile-nav{
    height:4.8rem;
    width:4.8rem;
    color:#333;
}

.nav-list-item:link, .nav-list-item:visited{
    font-size: 2rem;
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.nav-list-item:hover, .nav-list-item:active{
    color:#862e9c;
    transition: all 300ms;
}


.cta-nav:link, .cta-nav:visited{
    display: inline-block;
    padding:0.8rem 2.4rem;
    background-color: #862e9c;
    color:#fff;
    border-radius: 40px;
}

.cta-nav:hover, .cta-nav:active{
    background-color: #ae3ec9;
}

/* HERO */

.section-hero{
    background-color: #f3f0ff;
}

.social-networks{
    position:absolute;
    bottom:10%;
    left:4%;
    font-size: 2.5rem;
}

.social-networks h4{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color:#f3f0ff;
    letter-spacing: 1px;
}

.social-networks ul{
    list-style: none;
    display: flex;
    gap:2rem;
    align-items: center;
}

.social-networks a:link, .social-networks a:visited{
    display: block;
    text-decoration: none;
    color:#cfabd7;
    transition:all 350ms;
}

.social-networks a:hover, .social-networks a:active{
    color:#ae3ec9
}

.section-container{
    padding:5rem;
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.8rem;
}

.text-box{
    display: flex;
    flex-direction: column;
    gap:4rem;
}

.text-box p{
    font-size: 2rem;
}

.text-box a:link, .text-box a:visited{
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1.4rem 2.4rem;
    background-color: #862e9c;
    border-radius: 20px;
    font-size: 2.4rem;
    text-decoration: none;
    color:white;
    transition: all 350ms;
}

.text-box a:hover, .text-box a:active{
    background-color: #9243a6;
}

.text-box a:first-of-type{
    margin-right: 3rem;
}

.image-box{
    position: relative;
}

.image-box img{
    width: 100%;
    border-radius: 10px;
}

.customers{
    display: flex;
   align-items: center;
    gap:1.5rem
}

.customers .customers-images img{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border:3px solid #fff;
    margin-left: -1.5rem;
    transition: all 350ms;
}

.customers-images img:hover{
    transform: translateY(-1rem);
}

.customers-text span{
    font-weight: bold;
    color:#862e9c;
}

/* FEATURED IN */

.section-featured-in{
    margin-top: 9.6rem;
    margin-bottom: 12.6rem;;
}

.heading-featured-in{
    text-transform: uppercase;
    font-size: 1.8rem;
    color:#ae3ec9;
    text-align: center;
    margin-bottom: 8rem;
}

.section-featured-in .logos{
    display: flex;
    justify-content: space-around;
}

.section-featured-in img{
    height: 6.2rem;
}

/* PRODUCTS */

.section-products{
    background-color: #f3f0ff;
    padding-top: 5rem;
}

.section-products h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
    color:#333;
}

.gallery{
    display: grid;
    gap:2rem 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 40rem);
    overflow: hidden;
}

.gallery-item{
    overflow: hidden;
}

.gallery img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: all 350ms;
}

.gallery img:hover{
    transform: scale(1.1)
}

.products-heading h2{
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    color:#333;
    margin-bottom:10rem;
    margin-top: 9rem;
}

.products-heading h2::after{
    content:" WE PRINT EVERYTHING";
    font-size: 1.8rem;
    position:absolute;
    right:30rem;
    bottom:-3rem;
    color:#862e9c;
}

.products-text{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:4rem;
    padding-bottom: 3.5rem;
}

.products-text-image img{
    width: 100%;
    border-radius: 5px;
}

.products-description h3{
    font-size: 2.5rem;
    color:#36123e
}

.products-description ul{
    margin-top: 3rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1rem
}

.products-description ul li {
    display: flex;
    align-items: center;
    gap:1.5rem;
    color:#222;
    font-weight: 500;
    font-size: 2rem;
}


/* SERVICES */

.section-services{
    margin-top: 10rem;
}

.section-services h2{
    text-align: center;
    font-size: 3rem;
    color:#333;
    margin-bottom: 4rem;
}

.services{
    display: grid;
    grid-template-columns: 40fr 60fr;
    padding-bottom: 3.5rem;
}

.services h3{
    font-size: 2.5rem;
    color:#36123e;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 4rem;
}

.services-text{
    align-self: center;
}

.services-text ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 4rem;
}

.services-text li{
    display: flex;
    align-items: center;
    gap:1.5rem;
    color:#222;
    font-weight: 500;
    font-size: 2rem;
}

.services-img{
    align-self: center;
}

.services-img img{
    width: 100%;
    border-radius: 10px;
}

/* RIA MONEY TRANSFER */

.section-ria{
    margin-top: 9.6rem;
    border-top:2px solid #333;
    border-bottom: 2px solid #333;
    padding: 5rem 0 16rem 0;
    background-image: linear-gradient(to bottom ,rgba(51, 51, 51, 0.849),rgba(161, 161, 161, 0.349)), url("/img/ria/ria-background.jpg");
    background-size: cover;
}

.section-ria h2{
    font-size: 3rem;
    color:#eee;
    margin-bottom: 9rem;
    text-align: center;
    font-weight: bold;
}

.section-ria .container{
    max-width: 80rem;
}

.ria {
    display: flex;
    gap:8rem;
    background-color: #1600df7c;
    padding:4rem;
    border-radius: 20px;
}

.ria img{
    width: 100%;
    display: block;
    border-radius: 20px;
}

.ria ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.ria ul li{
    display: flex;
    align-items: center;
    gap:1rem;
}

.ria .icon{
    color:#e7d5eb;
}

.ria ul li span{
    font-size: 1.8rem;
    color:#eee;
    font-weight: 600;
}

/* CONTACT */

.section-contact{
    margin-top: 9.6rem;
    padding:8rem;
    background-image: url("/img/contact.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:20% 40%;
}

.contact{
    background-color: #dbc0e1ef;
    width: 40%;
    margin:0 auto;
    padding:2.5rem;
    border-radius: 20px;
    border:1px solid #36123e;
}

.section-contact h2{
    font-size: 3rem;
    color:#333;
    margin-bottom: 1rem;
    text-align: center;
}

.section-contact p{
    color:#280e2f;
    font-size: 1.4rem;
    text-align: center;
}

.contact-form{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    width: 100%;
}

.contact-form div{
    width: 100%;
}

.contact-form label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.contact-form input{
    padding:0.8rem;
    width: 100%;
}

.contact-form textarea{
    width: 100%;
}

.contact-form button{
    width: 100%;
    border-radius: 25px;
    padding:1rem 2rem;
    background-color: #862e9c;
    color:#fff;
    box-shadow: none;
    border:none;
    cursor: pointer;
    font-size: 1.4rem;
}

.contact-form button:hover{
    background-color: #9243a6;
}


/* ABOUT */

.about{
    margin: 9.6rem 0;
}

.about h2{
    font-size: 3rem;
    color:#333;
    margin-bottom: 3rem;
    text-align: center;
}

.about-us{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 4.8rem 4rem;
}

.about-us figure{
    border-radius: 30px 30px 0 0 ; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.10);
    padding-bottom: 2rem;
    transition: all 350ms;
}

.about-us figure:hover{
    transform:translateY(-1rem);
}

.about-us figure img{
    display: block;
    width: 100%;
    height: 23rem;
}

.about-us h3{
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-us p{
    text-align: center;
    font-size: 1.4rem;
    padding:1rem;
}

.contact-information p{
    display: flex;
    align-items: center;
    gap:0.5rem
}

.about-us a:link, .about-us a:visited{
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color:#1864ab;
    transition: all 350ms;
}

.about-us a:hover, .about-us a:active{
    color:#862e9c;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #5f3dc4;
}

.about-us .contact-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}


/* FOOTER */

.footer {
    background-color: #222;
    padding:2rem;
}

.footer img{
    display: block;
    width: 20rem;
    margin:0 auto;
    margin-bottom: 2rem;
}

.footer blockquote {
    color:#f3f0ff;
    font-size: 2rem;
    text-align: center;
}

.footer .blockquote-text{
    margin-bottom: 1rem;
}

.footer .blockquote-author{
    font-size: 1.5rem;
    color:#aaa;
    letter-spacing: 1px;
}

.footer-info{
    color:#f3f0ff;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.footer-info h3{
    font-size: 2rem;
    padding:1.6rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
}

.footer-info ul{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap:1rem;
    list-style: none;
    justify-content: center;
    font-size: 1.6rem;
}

.footer-info ul li {
    display: flex;
    align-items: center;
    gap:1rem;
}

.footer-info .icon{
    color:#cfabd7;
}

.footer-info a:link, .footer-info a:visited{
    color:#b682c4;
    text-decoration: none;
    transition: all 350ms;
}

.footer-info a:hover, .footer-info a:active{
    color:#cfabd7;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #cfabd7;
}